// 1. Importe as funções do Bootstrap
@import "bootstrap/scss/functions";

// 2. Defina suas variáveis customizadas
$primary: #007bff;
$font-family-sans-serif: "Fira Code",serif;
$display-font-weight: 700;
// 3. Importe o restante do Bootstrap
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
// ... importe outros arquivos Sass do Bootstrap conforme necessário ...
@import "bootstrap";
