@import '../sass/custom.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.fira-code-400 {
    font-family: "Fira Code", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.libre-franklin-400 {
    font-family: "Libre Franklin", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.space-grotesk-400 {
    font-family: "Libre Franklin", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Fira Code", serif;
    font-weight: 500;
    line-height: 1.6;
    background-color: #fffff5;
}
